/* .bakground {
  margin-top: 20px;
  margin-left: 20px;
}
.bak {
  position: relative;
  background-size: cover;
  width: 1200px;
  height: 300px;
}
.name {
  color: white;
  position: absolute;
  margin-top: -270px;
  margin-left: 100px;
   z-index: 3; 
}
.mail {
  color: white;
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
  z-index: 3;
}
.html {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -270px;
  margin-left: 700px;
  z-index: 3;
}
.css {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -270px;
  margin-left: 850px;
  z-index: 3;
}
.js {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -270px;
  margin-left: 1000px;
  z-index: 3;
}
.bootstrap {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -160px;
  margin-left: 775px;
  z-index: 3;
}
.react {
  width: 90px;
  height: 70px;
  position: absolute;
  margin-top: -160px;
  margin-left: 930px;
  z-index: 3;
}  */
